<h1>Chapter Five</h1>


    <md-radio-group ng-model="game.sound">
      <md-radio-button value="seed_sound" class="md-primary">Seed</md-radio-button>
      <md-radio-button value="seed_crystal_jar">Seed on crystal </md-radio-button>
      <md-radio-button value="shotgun">Ting</md-radio-button>
      <md-radio-button value="donkey">Donkey</md-radio-button>
       <md-radio-button value="false">None</md-radio-button>
  
    </md-radio-group>

   <a class = "fixed-play" ng-href = "/#/game" ng-click='done()'><md-button class="md-fab" aria-label="Play game">	<md-icon md-svg-src="assets/images/play.svg"></md-icon></md-button></a>