
*, *::before, *::after {
  box-sizing: inherit;
}

.mancala-board {
  width: 100%;
  background: #534A45;
  display: block;
  overflow: hidden;
  padding: 2em 4em 6em 4em;
  max-width: 600px;
  min-height: 720px;
  margin: 0 auto;
  position: relative;


}

.store {
  border-radius: 40px;
  clear: both;
  width: 100%;
  &.player-one {
     .seeds-number {
      transform: translateY(70px);
      color: white;
    }
  }

  &.player-two {
    .seeds-number {
      transform: translateY(-30px);
      color: white;
    } 
  }
 
}

.rows {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}



.row {
  &.player-one {
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: right;
  width: 50%;
   .seeds-number {
      transform: rotate(-90deg) translateX(-20px);
      position: absolute;
      width: 60px;
      left: 2em;
      color: white;
      display: block;
    }
  }
  .seed-number {
    text-weight: 500;
  }
  &.player-two {
  -webkit-flex-direction: column-reverse; 
  flex-direction: column-reverse; 
  float: left;
  width: 50%;
  position: relative;
    .seeds-number {
      transform: rotate(90deg) translateX(20px);
      position: absolute;
      width: 60px;
      right: -2em;
      color: white;

    }
  }
}

.status {
  position: fixed;
  color: white !important;
  bottom: 8px;
  left: 1.5em;
  background: rgba(0,0,0,0.5);
  display: block;
  padding: 1em;
  }

.store, .pit {
  text-align: center;
  cursor: default;
  padding: 0.3em 2em;
  display: block;

  p {
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    display: block;
    margin: 0 0;
    min-height: 60px;
    max-height: 60px;
    ul {
      list-style: none;
      position: relative;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 100%;
      height: 0px;
      li {
        background: url(/assets/images/seed-sprite.png);
        width: 27px;
        height: 30px;
        background-size: cover;

        position: absolute;
        top: 0px;
        left: 0px;
        
        &:nth-child(1) {

          &.seed-rand-1 {
            transform: rotate(66deg);
            left: 8%;
            top: 8px;

          }

          &.seed-rand-2 {
            transform: rotate(20deg);
            left: 27%;
            top: 22px;
          }
          
          &.seed-rand-3 {
            transform: rotate(189deg);
            left: 40%;
            top: 40%;
          }

          &.seed-rand-4 {
            transform: rotate(96deg);
            left: 60%;
            top: 15px;
          }
        }

        &:nth-child(2) {
          left: 30px;
          background-position:-25px 0px;

          &.seed-rand-1 {
            transform: rotate(21deg);
            left: 13%;
            top: 22px;
          }

          &.seed-rand-2 {
            transform: rotate(65deg);
            left: 65%;
            top: 18px;
          }
          
          &.seed-rand-3 {
            transform: rotate(219deg);
            left: 33%;
            top: 19px;
          }

          &.seed-rand-4 {
            transform: rotate(99deg);
            left: 10%;
            top: 27px;
          }

        }

        &:nth-child(3) {
          left: 30px;
          top: 20px;
          background-position:-49px 0px;
          &.seed-rand-1 {
            transform: rotate(34deg);
            left: 33%;
            top: 29px;
          }

          &.seed-rand-2 {
            transform: rotate(145deg);
            left: 47%;
            top: 27px;
          }
          
          &.seed-rand-3 {
            transform: rotate(19deg);
            left: 23%;
            top: 9px;
          }

          &.seed-rand-4 {
            transform: rotate(135deg);
            left: 6%;
            top: 7px;
          }
        }

        &:nth-child(4) {
          background-position:-25px 0px;
           &.seed-rand-1 {
            transform: rotate(127deg);
            left: 24%;
            top: 8px;
          }

          &.seed-rand-2 {
            transform: rotate(201deg);
            left: 59%;
            top: 19px;
          }
          
          &.seed-rand-3 {
            transform: rotate(155deg);
            left: 26%;
            top: 19px;
          }

          &.seed-rand-4 {
            transform: rotate(30deg);
            left: 30%;
            top: 4px;
          }

        &:nth-child(5) {
          background-position:-69px 0px;
           &.seed-rand-1 {
            transform: rotate(12deg);
            left: 13%;
            top: 22px;
          }

          &.seed-rand-2 {
            transform: rotate(139deg);
            left: 7%;
            top: 18px;
          }
          
          &.seed-rand-3 {
            transform: rotate(219deg);
            left: 23%;
            top: 9px;
          }

          &.seed-rand-4 {
            transform: rotate(124deg);
            left: 30%;
            top: 18px;
          }
        }
      }
    }
  }
}
  p::selection {
    background: transparent;
  }
}

.pit {
}

[data-player="two"] .row.player-two .pit,
[data-player="one"] .row.player-one .pit {
  cursor: pointer;
}

[data-player="two"] .status,
.store.player-two, .player-two .pit {
  color: green;
}

[data-player="one"] .status,
.store.player-one, .player-one .pit {
  color: #0074D9;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
