a.unavailable {
	opacity: 0.5;
	background: #ddd;
	cursor: default;
}

a.incomplete {
	filter: grayscale(100%);
	img {
		filter: grayscale(100%);
	}

	&.available {
		img {
			opacity: 0.5;
		}
	}
}

a.success-item {
	background-color: #39DCAD;
	color: #136a50;

}