<h1>Chapter Three</h1>
 
<md-content layout-padding layout="row" layout-sm="column">
	<md-input-container>
	  <label>Number of Pits</label>
	  <input ng-model="game.pits">
	</md-input-container> 
	<md-input-container>
	  <label>Number of Seeds</label>
	  <input ng-model="game.seeds">
	</md-input-container> 	
</md-content>

<a class = "fixed-play" ng-href = "/#/game" ng-click='done()'><md-button class="md-fab" aria-label="Play game">	<md-icon md-svg-src="assets/images/play.svg"></md-icon></md-button></a>
 